.addTask {
    margin: 2% auto;
    background-color: #ffb84a;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding: 1%;
    box-shadow: 5px 5px 20px rgb(121, 107, 83);
}
.text {
    width: 70%;
    text-align: center;
    height: 30px;
    border: none;
    border-bottom: 1px solid #3a5a64;
    background: transparent;
    outline: none;
    margin-bottom: 1%;
    box-shadow: 0px 1px 10px rgb(66, 62, 54);
    margin: 1% auto;
}
.submit {
    width: 40%;
    font-size: 1.2em;
    background-color: #e2a448;
    border: 1px solid #3a5a64;
    margin: 1% auto;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(66, 62, 54);
    color: white;
}
.submit:focus {
    background: transparent;
}
.submit:hover {
    background-color: #e79110;
    cursor: pointer;
}
.filter {
    display: flex;
    gap: 2%;
    justify-content: center;
}
.filterbtn {
    background-color: #e2a448;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(66, 62, 54);
    outline: none;
    border: 1px solid #3a5a64;
    border-radius: 5px;
}
.filterbtn:hover {
    background-color: #e79110;
}
.filterbtn:focus-within {
    background-color: #cc800f;
}
